<template name="employee_form">
    <div class="row">
        <form class="col s12 new-task">
            <!-- Employee id -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="empid" type="text" class="validate">
                    <label for="empid">Employee ID</label>
                </div>
            </div>
            <!-- Employee Name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="name" type="text" class="validate"  >
                    <label for="name">Employee Name</label>
                </div>
            </div>
            <!-- Age -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="age" type="text" class="validate">
                    <label for="age">Age</label>
                </div>
            </div>
            <!-- Telephone -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="telephone" type="text" class="validate">
                    <label for="telephone">Telephone</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                    <a class="waves-effect waves-light btn" href="/">Back</a>
                <button class="btn waves-effect waves-light blue" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>

    </div>
</template>